@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-image {    
    background-image: linear-gradient(rgba(5, 0, 32, 0.697), rgba(5, 0, 32, 0.697)), url('./assets/bg-support.jpeg');
    overflow: hidden;
}

.gradient-image2 {    
    background-image: linear-gradient(rgba(2, 1, 10, 0.697), rgba(5, 4, 10, 0.697)), url('./assets/bg-support.jpeg');
    overflow: hidden;
}

.hero-bg {
    /* background-color: #ecf1f7; */
    height: 100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/shiny-overlay4.png");
}

.contact-bg {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-contact.svg");
}

.registration-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/homepageBg4.svg");
}

.attending-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/attending3-bg.png"); 
}

.hci-agenda-bg {
    /* background-color: #ecf1f7; */
    height: 100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/shiny-overlay4.png");
}